vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Aug 2007 04:56:11 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|13 Aug 2007 04:56:11 -0000
vti_filesize:IR|5335
vti_cachedlinkinfo:VX|S|../images/insert_button_bg.gif S|../images/cancel_button_bg.gif S|../images/xp/tabs_bg.gif S|../images/xp/tab_bg.gif S|../images/xp/tab_sel_bg.gif S|../images/xp/tab_end.gif S|../images/xp/tab_sel_end.gif
vti_cachedsvcrellinks:VX|FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/insert_button_bg.gif FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/cancel_button_bg.gif FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/xp/tabs_bg.gif FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/xp/tab_bg.gif FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/xp/tab_sel_bg.gif FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/xp/tab_end.gif FSUS|includes/editorhtml/jscripts/tiny_mce/themes/advanced/images/xp/tab_sel_end.gif
vti_backlinkinfo:VX|
