vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Jun 2007 20:15:44 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|26 Jun 2007 20:15:44 -0000
vti_filesize:IR|1527
vti_cachedlinkinfo:VX|S|/images/icons/not_read_header.gif S|/images/icons/read_header.gif S|/images/icons/delete_header.gif
vti_cachedsvcrellinks:VX|FSUS|images/icons/not_read_header.gif FSUS|images/icons/read_header.gif FSUS|images/icons/delete_header.gif
vti_backlinkinfo:VX|
